.symbols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.symbol-card {
  border: 1px solid $primary-color;
  border-radius: 5px;
  min-height: 100px;
  display: flex;
  flex-basis: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .2);
  transition: all .15s ease-in-out;
  transform: scale(.98);

  &:hover {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
    transform: scale(1);
  }

  &.ng-leave {
    transition: all .25s ease-in;
  }

  &.ng-enter {
    transition: all .3s ease-out;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
    transform: scale(1);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(0);
  }
}

.symbol-ticker {
  margin-top: 10px;
  margin-left: 20px;
}

.symbol-card-with-form {
  flex-wrap: wrap;
  padding: 10px 20px 0 20px;
}

.symbol-form {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
}

.symbol-input {
  width: 100%;
  flex: 1;

  input {
    display: block;
    width: 100%;
    font-size: $primary-font-size;
    outline: 0;
    border: 0;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 5px;
  }
}

.symbol-submit {
  margin-left: 5px;
  transform: scale(1);

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all .15s ease-in-out;
  }

  &.ng-hide {
    transform: scale(0);
  }

  [type="submit"] {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: $submit-color;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    font-size: $primary-font-size * 2;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);

    &:hover {
      background-color: darken($submit-color, 10%);
    }

    &:active {
      background-color: darken($submit-color, 20%);
      transform: translateY(3px);
    }
  }
}

.close-btn {
  background: none;
  border: 0;
  font-size: $primary-font-size * 1.5;
  line-height: 1;
  border-radius: 3px;
  cursor: pointer;
  transform: scale(.8);
  transition: all .15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: $hover-color;
    transform: scale(1);
  }
}

.symbol-error {
  color: $error-color;
  overflow: hidden;
  max-width: 100%;
}

@media(min-width: $mobile-break-point) {
  .symbol-card {
    flex-basis: 30%;
    max-width: 30%;
  }
}
