.symbols {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.symbol-card {
  border: 1px solid $primary-color;
  border-radius: 5px;
  min-height: 100px;
  display: flex;
  flex-basis: 100%;
  max-width: 100%;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 3px 5px 3px rgba(0, 0, 0, .2);
  transition: all .15s ease-in-out;
  transform: scale(.98);

  &:hover {
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .2);
    transform: scale(1);
  }

  &.ng-leave {
    transition: all .25s ease-in;
  }

  &.ng-enter {
    transition: all .3s ease-out;
  }

  &.ng-enter.ng-enter-active,
  &.ng-leave {
    opacity: 1;
    transform: scale(1);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;
    transform: scale(0);
  }

  &:nth-child(8n+1) {
    background-color: #ffcdd2;
  }
  &:nth-child(8n+2) {
    background-color: #e1bee7;
  }
  &:nth-child(8n+3) {
    background-color: #c8e6c9;
  }
  &:nth-child(8n+4) {
    background-color: #b2ebf2;
  }
  &:nth-child(8n+5) {
    background-color: #b2dfdb;
  }
  &:nth-child(8n+6) {
    background-color: #d7ccc8;
  }
  &:nth-child(8n+7) {
    background-color: #cfd8dc;
  }
  &:nth-child(8n+8) {
    background-color: #bbdefb;
  }
}

.card-header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

.card-body {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.good-news {
  color: $success-color;
  transition: all .15s ease-in-out;

  &:before {
    content: '+';
  }

  &:hover {
    color: darken($success-color, 10%);
  }
}
.bad-news {
  color: $warning-color;
  transition: all .15s ease-in-out;

  &:hover {
    color: darken($warning-color, 10%);
  }
}

.symbol-ticker {
  margin-top: 10px;
  margin-left: 20px;
}

.symbol-card-with-form {
  flex-wrap: wrap;
  padding: 10px 20px 0 20px;
}

.symbol-form {
  width: 100%;
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
}

.symbol-input {
  width: 100%;
  flex: 1;

  input {
    display: block;
    width: 100%;
    font-size: $primary-font-size;
    outline: 0;
    border: 0;
    border-bottom: 1px solid $primary-color;
    padding-bottom: 5px;
    background: none;
  }
}

.symbol-submit {
  margin-left: 5px;
  transform: scale(1);

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all .15s ease-in-out;
  }

  &.ng-hide {
    transform: scale(0);
  }

  [type="submit"] {
    border: 0;
    outline: 0;
    border-radius: 5px;
    background-color: $submit-color;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    font-size: $primary-font-size * 1.5;
    cursor: pointer;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);

    &:hover {
      background-color: darken($submit-color, 10%);
    }

    &:active {
      background-color: darken($submit-color, 20%);
      transform: translateY(3px);
    }
  }
}

.close-btn {
  background: none;
  border: 0;
  font-size: $primary-font-size * 1.5;
  line-height: 1;
  border-radius: 3px;
  cursor: pointer;
  transform: scale(.8);
  transition: all .15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: $hover-color;
    transform: scale(1);
  }
}

.symbol-error {
  color: $error-color;
  overflow: hidden;
  max-width: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);

  display: flex;
  align-items: center;
  justify-content: center;

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: all .2s ease-in-out;
  }

  &.ng-hide {
    transform: translateY(-100%);
  }
}

@media(min-width: $mobile-break-point) {
  .symbol-card {
    flex-basis: 30%;
    max-width: 30%;
  }
}
