<section class="app-container symbols">
  <section data-ng-repeat="symbol in vm.symbolSync.symbols" class="symbol-card animate-repeat">
    <div class="card-header">
      <h3 class="symbol-ticker">{{symbol}}</h3>
      <button data-ng-click="vm.remove(symbol)" class="close-btn">&times;</button>
    </div>
    <div class="card-body" data-ng-show="vm.computeLastReturn(symbol).date" data-ng-class="{'good-news': vm.computeLastReturn(symbol).percent >= 0, 'bad-news': vm.computeLastReturn(symbol).percent < 0}" data-ng-click="vm.openModal(symbol)">
      {{vm.computeLastReturn(symbol).percent}}% @{{vm.computeLastReturn(symbol).date}}
    </div>
  </section>

  <section class="symbol-card symbol-card-with-form animate-repeat">
    <form class="symbol-form" data-ng-submit="vm.add()">
      <fieldset class="symbol-input">
        <input type="text" name="symbol" data-ng-model="vm.newSymbol" autofocus required placeholder="Add a new symbol">
      </fieldset>
      <fieldset class="symbol-submit animate-show" data-ng-show="vm.newSymbol">
        <button type="submit">&plus;</button>
      </fieldset>
    </form>

    <section class="symbol-error" data-ng-show="vm.symbolSync.error.message || vm.err">
      <div>{{vm.symbolSync.error.message || vm.err}}</div>
      <div data-ng-show="vm.symbolSync.error.alternatives && vm.symbolSync.error.alternatives.length">
        Did you mean 
        <a href="" data-ng-repeat="alt in vm.symbolSync.error.alternatives" data-ng-click="vm.correct(alt)">{{alt}}{{$index < vm.symbolSync.error.alternatives.length - 1 ? ', ' : ''}}</a>?
      </div>
    </section>
  </section>
</section>

<section data-ng-show="vm.showModal" class="modal animate-show" data-ng-click="vm.closeModal($event)">
  <div class="app-container">
    <annotation-chart data-quotes="vm.modalData.data"></annotation-chart>
  </div>
</section>
