body {
  font: $primary-font;
  color: $primary-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.app-container {
  margin: 20px auto;
  max-width: 90%;
}

@media(min-width: $mobile-break-point) {
  .app-container {
    max-width: 70%;
  }
}
